body{
    background: linear-gradient(to right, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
    transition: transform 0.3s ease; /* Добавляем плавный переход при изменении transform */
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-image img:hover {
    transform: rotate(0deg); /* Поворачиваем логотип на 0 градусов при наведении */
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.btnContactSubmit.processing {
    background-color: #ccc; /* Серый цвет */
    cursor: not-allowed; /* Запрещаем курсору менять форму */
}

.carousel-item img {
    max-width: 30%; /* Уменьшаем ширину изображения до 50% */
    max-height: 30%; /* Уменьшаем высоту изображения до 50% */
    display: block; /* Центрируем изображение по горизонтали */
    margin: auto; /* Центрируем изображение по вертикали */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Добавляем тень */
    border-radius: 5%; /* Добавляем скругленные углы */
}

.carousel-control-prev, .carousel-control-next {
    color: black; /* Меняем цвет стрелок на черный */
    width: auto; /* Устанавливаем автоматическую ширину */
    height: 100%; /* Устанавливаем высоту в 100% */
    top: -20%;
}

.carousel-control-prev:hover, .carousel-control-next:hover,
.carousel-control-prev:active, .carousel-control-next:active,
.carousel-control-prev:focus, .carousel-control-next:focus {
    color: black; /* Меняем цвет стрелок на черный при наведении, активном состоянии и при фокусе */
}

.carousel-control-prev {
    left: 30%; /* Позиционируем левую стрелку у 25% ширины контейнера */
}

.carousel-control-next {
    right: 30%; /* Позиционируем правую стрелку у 25% ширины контейнера */
}

/* Стили для заблокированных кнопок */
button.disabled {
    background-color: #e9ecef; /* Серый цвет */
    color: #6c757d; /* Цвет текста */
    pointer-events: none; /* Запрет на нажатие */
}