<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/aboutCard.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <title>Ознакомьтесь с данным объявлением</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{/fragments/fragments :: sideMenu}"></div>
        <input type="hidden" id="csrfTokenForLogout" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="col-sm p-3 min-vh-100" style="background-size: cover; background-position: center; background-repeat: repeat;">
            <div class="container mt-5">
                <div class="row">
                    <!-- Carousel Section -->
                    <div class="col-md-6">
                        <div id="carouselExampleControls" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${cardInfo.id}, imageIndex=0)}" class="d-block w-100 card-img-top rounded-top" alt="Первичное фото карусели" loading="eager">
                                </div>
                                <div th:each="image, imageIndex : ${cardInfo.images}" class="carousel-item" th:unless="${imageIndex.index == 0}">
                                    <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${cardInfo.id}, imageIndex=${imageIndex.index})}" class="d-block w-100 card-img-top rounded-top" alt="Вторичное фото карусели" loading="eager">
                                </div>
                            </div>
                            <button th:if="${cardInfo.images.size()>1}" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <svg class="bi text-black" width="25" height="24" fill="currentColor" aria-hidden="true">
                                    <use xlink:href="/images/icons/bootstrap-icons.svg#caret-left-fill"/>
                                </svg>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button th:if="${cardInfo.images.size()>1}" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <svg class="bi text-black" width="25" height="24" fill="currentColor" aria-hidden="true">
                                    <use xlink:href="/images/icons/bootstrap-icons.svg#caret-right-fill"/>
                                </svg>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <!-- Article Section -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 th:text="${cardInfo.title}" class="mb-0" style="word-wrap: break-word;">Article Title</h2>

                            <button th:if="${!cardInfo.author.name.equals(MyUserName) && MyInfo.role.equals('ROLE_USER')}" type="button" class="btn btn-white btn-square ms-2" data-bs-toggle="modal" data-bs-target="#complaintModal">
                                <svg class="bi text-warning" width="20" height="20" fill="currentColor">
                                    <use xlink:href="/images/icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
                                </svg>
                            </button>
                            <button th:if="${!cardInfo.author.name.equals(MyUserName) && MyInfo.role.equals('ROLE_ADMIN')}" type="button" class="btn btn-white btn-square ms-2" data-bs-toggle="modal" data-bs-target="#blockResumeModal">
                                <svg class="bi text-danger" width="20" height="20" fill="currentColor">
                                    <use xlink:href="/images/icons/bootstrap-icons.svg#ban"/>
                                </svg>
                            </button>
                        </div>

                        <p th:text="${cardInfo.description}" style="word-wrap: break-word;">
                            GeeksForGeeks is a Computer Science portal for geeks. It contains well written, well thought articles. This platform has been designed for every geek wishing to expand their knowledge, share their knowledge and is ready to grab their dream job. We have millions of articles, live as well as online courses, thousands of tutorials and much more just for the geek inside you.
                        </p>
                        <div class="d-flex justify-content-start align-items-center gap-2">

                            <a th:if="${!MyUserName.equals(cardInfo.author.name)}" th:href="@{/api/resume_v1/profile/{name}(name=${cardInfo.author.name})}" class="d-flex align-items-center text-decoration-none">
                                <img th:src="@{/api/resume_v1/user/image/{name}(name=${cardInfo.author.name})}"
                                     class="rounded-circle"
                                     style="width: 40px; height: 40px; object-fit: cover;"
                                     alt="Avatar" />
                            </a>
                            <div th:if="${!cardInfo.author.name.equals(MyUserName)}" class="d-flex align-items-center">
                                <form th:if="${!likedThisPost}" id="addLikeForm" class="mb-0 d-flex align-items-center me-3">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrfToken">
                                    <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                    <button type="submit" class="btn btn-white mb-0" id="likeButton">
                                        <svg class="bi" width="20" height="20">
                                            <use xlink:href="/images/icons/bootstrap-icons.svg#heart"/>
                                        </svg>
                                        <span class="ms-1" th:text="${cardInfo.likedResumes.size()}"></span>
                                    </button>
                                </form>
                                <form th:if="${likedThisPost}" id="removeLikeForm" th:action="@{/api/resume_v1/remove-like}" class="mb-0 d-flex align-items-center me-3">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                    <button type="submit" class="btn btn-white mb-0" id="removeLikeButton">
                                        <svg class="bi text-danger" width="20" height="20" fill="currentColor">
                                            <use xlink:href="/images/icons/bootstrap-icons.svg#heart-fill"/>
                                        </svg>
                                        <span class="ms-1" th:text="${cardInfo.likedResumes.size()}"></span>
                                    </button>
                                </form>
                            </div>
                            <div th:if="${cardInfo.author.name.equals(MyUserName)}" th:text="${'Количество лайков: '+cardInfo.likedResumes.size()}"></div>
                            <button type="button" class="btn btn-white ms-2 mb-0 d-flex align-items-center create-comment" data-bs-toggle="modal" data-bs-target="#PostCommentModal">
                                <svg class="bi text-primary" width="20" height="20" fill="currentColor">
                                    <use xlink:href="/images/icons/bootstrap-icons.svg#chat-right-text-fill"/>
                                </svg>
                            </button>
                            <form th:if="${!cardInfo.author.name.equals(MyUserName) && !subscribeOnThisAuthor}" id="subscribeForm" action="/api/resume_v1/user/subscribe" method="post">
                                <button type="submit" class="btn btn-primary ms-2 mb-0 d-flex align-items-center subscribe-button">
                                    <svg class="bi text-light" width="20" height="20" fill="currentColor">
                                        <use xlink:href="/images/icons/bootstrap-icons.svg#plus"/>
                                    </svg>Подписаться на пользователя
                                </button>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input type="hidden" name="subscribeOn" th:value="${cardInfo.author.id}">
                            </form>

                            <form th:if="${!cardInfo.author.name.equals(MyUserName) && subscribeOnThisAuthor}" id="unsubscribeForm" action="/api/resume_v1/user/unsubscribe">
                                <button type="submit" class="btn btn-danger ms-2 mb-0 d-flex align-items-center unsubscribe-button">
                                    <svg class="bi text-light" width="20" height="20" fill="currentColor">
                                        <use xlink:href="/images/icons/bootstrap-icons.svg#x-lg"/>
                                    </svg>Отписаться на пользователя
                                </button>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input type="hidden" name="unsubscribeOn" th:value="${cardInfo.author.id}">
                            </form>
                        </div>
                        <p th:if="${!MyUserName.equals(cardInfo.author.name)}" class="text-muted mb-0" th:text="${cardInfo.author.roleInCommand}">Web designer</p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex flex-column col-md-12">
                <div class="coment-bottom bg-white p-2 px-4">
                    <div th:if="${ListOfComments.isEmpty()}">Еще нет ни одного комментария</div>
                    <div th:if="${!ListOfComments.isEmpty()}" th:each="comment : ${ListOfComments}" th:id="${comment.id}" class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2" th:text="${comment.user.name}">Corey oates</h5>
                            <span class="dot mb-1"></span>
                            <span class="mb-1 ml-2 me-2" th:text="${comment.createTime}">4 hours ago</span>
                            <span th:if="${comment.parentComment !=null && comment.id != comment.parentComment.id}" class="mb-1 ml-2 text-muted">В ответ пользователю
                                <a th:href="${'#'+comment.parentComment.id}" th:text="${comment.parentComment.user.name}" class="comment-link text-decoration-none"></a>
                            </span>
                            <div class="ms-auto"> <!-- Этот блок обеспечит размещение кнопок справа -->
                                <button th:if="${comment.user.name.equals(MyUserName)}" type="button" class="btn btn-white me-2" data-bs-toggle="modal" th:data-bs-target="${'#successModal'+comment.id}">
                                    <svg class="bi" width="20" height="20">
                                        <use xlink:href="/images/icons/bootstrap-icons.svg#trash-fill"/>
                                    </svg>
                                </button>
                                <button th:if="${comment.user.name.equals(MyUserName)}" type="button" class="btn btn-white me-2" data-bs-toggle="modal" th:data-bs-target="${'#editModal'+comment.id}">
                                    <svg class="bi" width="20" height="20">
                                        <use xlink:href="/images/icons/bootstrap-icons.svg#pencil-square"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <!-- Модальное окно переспрашивания перед удалением -->
                        <div class="modal fade" th:id="${'successModal'+comment.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить этот комментарий?</h5>
                                    </div>
                                    <form th:id="${'deleteCommentForm'+comment.id}" action="/api/resume_v1/delete-comment">
                                        <input type="hidden" name="commentId" th:value="${comment.id}">
                                        <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                            <button type="submit" class="btn btn-danger deleteCommentButton">Да</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Модальное окно редактирования комментария -->
                        <div class="modal fade" th:id="${'editModal'+comment.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered text-center d-flex justify-content-center">
                                <div class="modal-content w-75">
                                    <div class="modal-body p-4 position-relative">
                                        <form th:id="${'editCommentForm'+comment.id}" id="editCommentForm${comment.id}">
                                            <div>
                                                <input type="hidden" th:value="${comment.id}" name="commentId">
                                                <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" id="csrfToken${comment.id}">
                                                <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                                <!-- Comment input -->
                                                <div class="form-outline mb-4">
                                                    <label for="commentChangeText" class="form-label">Исправьте свой комментарий</label>
                                                    <textarea id="commentChangeText" th:text="${comment.text}" name="text" class="form-control" rows="3" placeholder="Ваш комментарий"></textarea>
                                                </div>
                                                <!-- Submit button -->
                                                <button type="submit" class="btn btn-primary editCommentButton">Изменить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-text-sm"><span th:text="${comment.text}"></span>
                            <button th:id="${'comment-id-'+comment.id}" class="btn btn-white me-2 btn-reply" data-bs-toggle="modal" data-bs-target="#PostCommentModal" th:data-comment-id="${comment.id}">
                                <svg class="bi" width="20" height="20">
                                    <use xlink:href="/images/icons/bootstrap-icons.svg#reply-fill"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <!-- Модальное окно создания комментария -->
<div class="modal fade" id="PostCommentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-center d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-body p-4 position-relative">
                <img th:src="@{/api/resume_v1/user/image/{name}(name=${MyUserName})}" alt="avatar" class="rounded-circle position-absolute top-0 start-50 translate-middle" style="width: 100px; height: 100px;" />
                <form id="createCommentForm">
                    <div>
                        <input th:if="${errorMessage}" th:value="${errorMessage}" type="hidden">
                        <h5 th:text="${MyUserName}" class="pt-5 my-3">Maria Doe</h5>
                        <input type="hidden" th:value="${cardInfo.id}" name="cardId">
                        <input type="hidden" id="replyToCommentId" name="replyToCommentId">
                        <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
                        <!-- Comment input -->
                        <div class="form-outline mb-4">
                            <label for="commentText" class="form-label">Оставьте свой комментарий</label>
                            <textarea name="text" id="commentText" class="form-control" rows="3" placeholder="Ваш комментарий"></textarea>
                        </div>
                        <!-- Submit button -->
                        <button type="button" id="submitCommentButton" class="btn btn-primary">Опубликовать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно жалобы -->
<div th:if="${!cardInfo.author.name.equals(MyInfo.name) && MyInfo.role.equals('ROLE_USER')}" class="modal fade" id="complaintModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Жалуйтесь с умом!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="complaintForm" action="/api/resume_v1/create-profile-complaint" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="problemDescription" class="form-label">Опишите причину жалобы</label>
                        <textarea class="form-control" id="problemDescription" name="problemDescription" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Можете приложить фотографии</label>
                        <input class="form-control" type="file" id="images" name="images" multiple>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="author_name" th:value="${MyUserName}">
                <input type="hidden" name="inspect_card_id" th:value="${cardInfo.id}">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Отправить жалобу</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно удаления поста -->
<div th:if="${!cardInfo.author.name.equals(MyInfo.name) && MyInfo.role.equals('ROLE_ADMIN')}" class="modal fade" id="blockResumeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вы можете удалить эту публикацию</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteCardForm" th:action="@{/api/resume_v1/profile/{name}/delete(name=${cardInfo.author.name})}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="banDescription" class="form-label">Опишите причину удаления</label>
                        <textarea class="form-control" id="banDescription" name="banDescription" rows="3" required></textarea>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="authorEmail" th:value="${cardInfo.author.email}">
                <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно ключа регистрации новых администраторов  -->
<div th:replace="~{/fragments/fragments :: keyChangeModalWindow}"></div>


<script th:if="${MyInfo.role.equals('ROLE_ADMIN')}" src="/js/requests/copyKeyAndChange.js"></script>
<script src="/js/bootstrap.js"></script>
<script th:if="${!subscribeOnThisAuthor && !cardInfo.author.name.equals(MyInfo.name)}" src="/js/requests/SubscribeRequest.js"></script>
<script th:if="${subscribeOnThisAuthor && !cardInfo.author.name.equals(MyInfo.name)}" src="/js/requests/UnSubscribeForm.js"></script>
<script th:if="${!likedThisPost && !cardInfo.author.name.equals(MyInfo.name)}" src="/js/requests/AddLike.js"></script>
<script th:if="${likedThisPost && !cardInfo.author.name.equals(MyInfo.name)}" src="/js/requests/RemoveLike.js"></script>
<script th:if="${!cardInfo.author.name.equals(MyUserName) && MyInfo.role.equals('ROLE_USER')}" src="/js/requests/complaintRequest.js"></script>
<script src="/js/requests/CommentRequests.js"></script>
<script src="/js/requests/logoutRequest.js"></script>
<script th:if="${!cardInfo.author.name.equals(MyUserName) && MyInfo.role.equals('ROLE_ADMIN')}" src="/js/requests/deleteCardRequest.js"></script>
</body>

</html>