<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <title>Ознакомьтесь с данным объявлением</title>
  <style>
    .bubble .wrapper {
      display: flex;
      flex-direction: row;
      margin: 40px 14px;
    }

    .children .bubble-secondary .wrapper {
      flex-direction: row-reverse;
    }
    
    .children .bubble-secondary .wrapper .messenger-bulle {
      background: #f1f0f0;
      color: black;
    }
    
    .messenger-bulle .meta {
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      color: grey;
      text-align: center;
      bottom: -25px;
      font-weight: 600;
      font-size: .8em;
    }

    .carousel-item img {
            width: 100%;
            height: auto; /* Allow the height to adjust automatically */
            max-height: 400px; /* Set a maximum height */
            object-fit: contain; /* Scale the image to fit the container without cropping */
    }

    .avatar {
        width: 50px; /* задайте одинаковое значение для width и height */
        height: 50px;
        border-radius: 50%;
        object-fit: cover; /* изображение сохраняет свои пропорции и покрывает весь контейнер */
    }

    .dot {
        height: 7px;
        width: 7px;
        margin-top: 3px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }


    .comment-text-sm {
        word-wrap: break-word; /* Это свойство заставляет текст переноситься на новую строку, если он слишком длинный */
        overflow-wrap: break-word; /* Альтернативное свойство для старых версий браузеров */
        word-break: break-word; /* Альтернативное свойство для старых версий браузеров */
    }

    .highlighted-comment {
        box-shadow: 0 0 10px 5px rgba(255, 255, 153, 0.7); /* Создаем размытую границу */
    }

  </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/api/resume_v1/user" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <img src="/images/logo.ico" class="img-fluid" alt="Логотип" style="max-width: 40px;">
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi-house fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class="bi-speedometer2 fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi-table fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                            <i class="bi-heart fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <i class="bi-people fs-4"></i>
                        </a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/api/resume_v1/user/image/{name}(name=${userName})}" class="img-fluid avatar" alt="Аватарка">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="/api/resume_v1/resumeForm">Выложить объявление</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" th:href="@{/api/resume_v1/profile/{name}(name=${userName})}">Профиль</a></li>
                        <li>
                            <button class="dropdown-item" id="logoutButton">Выйти из аккаунта</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" id="csrfTokenForLogout" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="col-sm p-3 min-vh-100" style="background-size: cover; background-position: center; background-repeat: repeat;">
            <div class="container mt-5">
                <div class="row">
                    <!-- Carousel Section -->
                    <div class="col-md-6">
                        <div id="carouselExampleControls" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${cardInfo.id}, imageIndex=0)}" class="d-block w-100 card-img-top rounded-top" alt="Первичное фото карусели" loading="eager">
                                </div>
                                <div th:each="image, imageIndex : ${cardInfo.images}" class="carousel-item" th:unless="${imageIndex.index == 0}">
                                    <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${cardInfo.id}, imageIndex=${imageIndex.index})}" class="d-block w-100 card-img-top rounded-top" alt="Вторичное фото карусели" loading="eager">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <!-- Article Section -->
                    <div class="col-md-6">
                        <h2 th:text="${cardInfo.title}" style="word-wrap: break-word;">Article Title</h2>
                        <p th:text="${cardInfo.description}" style="word-wrap: break-word;">
                            GeeksForGeeks is a Computer Science portal for geeks. It contains well written, well thought articles. This platform has been designed for every geek wishing to expand their knowledge, share their knowledge and is ready to grab their dream job. We have millions of articles, live as well as online courses, thousands of tutorials and much more just for the geek inside you.
                        </p>
                        <div class="d-flex justify-content-start align-items-center gap-2">
                            <a th:if="${!userName.equals(cardInfo.author.name)}" th:href="@{/api/resume_v1/profile/{name}(name=${cardInfo.author.name})}" class="d-flex align-items-center text-decoration-none">
                                <img th:src="@{/api/resume_v1/user/image/{name}(name=${cardInfo.author.name})}"
                                     class="rounded-circle"
                                     style="width: 40px; height: 40px; object-fit: cover;"
                                     alt="Avatar" />
                            </a>
                            <form th:if="${!cardInfo.author.name.equals(userName) && !likedThisPost}" id="addLikeForm" class="mb-0 d-flex align-items-center">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrfToken">
                                <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                <button type="submit" class="btn btn-white text-danger mb-0" id="likeButton">
                                    <i class="bi bi-heart" id="likeIcon"></i>
                                </button>
                            </form>
                            <form th:if="${!cardInfo.author.name.equals(userName) && likedThisPost}" id="removeLikeForm" th:action="@{/api/resume_v1/remove-like}" class="mb-0 d-flex align-items-center">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                <button type="submit" class="btn btn-white text-danger mb-0" id="removeLikeButton">
                                    <i class="bi bi-heart-fill" id="removeLikeIcon"></i>
                                </button>
                            </form>
                            <button type="button" class="btn btn-white text-primary ms-2 mb-0 d-flex align-items-center create-comment" data-bs-toggle="modal" data-bs-target="#PostCommentModal">
                                <i class="bi bi-chat-right-text-fill"></i>
                            </button>
                        </div>
                        <p th:if="${!userName.equals(cardInfo.author.name)}" class="text-muted mb-0" th:text="${cardInfo.author.roleInCommand}">Web designer</p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex flex-column col-md-12">
                <div class="coment-bottom bg-white p-2 px-4">
                    <div th:if="${ListOfComments.isEmpty()}">Еще нет ни одного комментария</div>
                    <div th:if="${!ListOfComments.isEmpty()}" th:each="comment : ${ListOfComments}" th:id="${comment.id}" class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2" th:text="${comment.user.name}">Corey oates</h5>
                            <span class="dot mb-1"></span>
                            <span class="mb-1 ml-2 me-2" th:text="${comment.createTime}">4 hours ago</span>
                            <span th:if="${comment.parentComment !=null && comment.id != comment.parentComment.id}" class="mb-1 ml-2 text-muted">В ответ пользователю
                                <a th:href="${'#'+comment.parentComment.id}" th:text="${comment.parentComment.user.name}" class="comment-link text-decoration-none"></a>
                            </span>
                            <div class="ms-auto"> <!-- Этот блок обеспечит размещение кнопок справа -->
                                <button th:if="${comment.user.name.equals(userName)}" type="button" class="btn btn-white me-2" data-bs-toggle="modal" th:data-bs-target="${'#successModal'+comment.id}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                                <button th:if="${comment.user.name.equals(userName)}" type="button" class="btn btn-white me-2" data-bs-toggle="modal" th:data-bs-target="${'#editModal'+comment.id}">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Модальное окно переспрашивания перед удалением -->
                        <div class="modal fade" th:id="${'successModal'+comment.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить этот комментарий?</h5>
                                    </div>
                                    <form th:id="${'deleteCommentForm'+comment.id}" action="/api/resume_v1/delete-comment">
                                        <input type="hidden" name="commentId" th:value="${comment.id}">
                                        <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                            <button type="submit" class="btn btn-danger deleteCommentButton">Да</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Модальное окно редактирования комментария -->
                        <div class="modal fade" th:id="${'editModal'+comment.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered text-center d-flex justify-content-center">
                                <div class="modal-content w-75">
                                    <div class="modal-body p-4 position-relative">
                                        <form th:id="${'editCommentForm'+comment.id}" id="editCommentForm${comment.id}">
                                            <div>
                                                <input type="hidden" th:value="${comment.id}" name="commentId">
                                                <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" id="csrfToken${comment.id}">
                                                <input type="hidden" name="cardId" th:value="${cardInfo.id}">
                                                <!-- Comment input -->
                                                <div class="form-outline mb-4">
                                                    <textarea th:text="${comment.text}" name="text" class="form-control" rows="3" placeholder="Ваш комментарий"></textarea>
                                                </div>
                                                <!-- Submit button -->
                                                <button type="submit" class="btn btn-primary editCommentButton">Изменить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-text-sm"><span th:text="${comment.text}"></span>
                            <button th:id="${'comment-id-'+comment.id}" class="btn btn-white me-2 btn-reply" data-bs-toggle="modal" data-bs-target="#PostCommentModal" th:data-comment-id="${comment.id}">
                                <i class="bi bi-reply-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <!-- Модальное окно создания комментария -->
<div class="modal fade" id="PostCommentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-center d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-body p-4 position-relative">
                <img th:src="@{/api/resume_v1/user/image/{name}(name=${userName})}" alt="avatar" class="rounded-circle position-absolute top-0 start-50 translate-middle" style="width: 100px; height: 100px;" />
                <form id="createCommentForm">
                    <div>
                        <input th:if="${errorMessage}" th:value="${errorMessage}" type="hidden">
                        <h5 th:text="${userName}" class="pt-5 my-3">Maria Doe</h5>
                        <input type="hidden" th:value="${cardInfo.id}" name="cardId">
                        <input type="hidden" id="replyToCommentId" name="replyToCommentId">
                        <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
                        <!-- Comment input -->
                        <div class="form-outline mb-4">
                            <textarea name="text" class="form-control" rows="3" placeholder="Ваш комментарий"></textarea>
                        </div>
                        <!-- Submit button -->
                        <button type="button" id="submitCommentButton" class="btn btn-primary">Опубликовать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('addLikeForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            var form = event.target;
            var formData = new FormData(form);
            var csrfToken = document.getElementById('csrfToken').value;

            fetch('/api/resume_v1/add-like', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRF-TOKEN': csrfToken // Add CSRF token to the headers
                }
            })
                .then(response => {
                    if (response.ok) {
                        var likeIcon = document.getElementById('likeIcon');
                        if (likeIcon.classList.contains('bi-heart')) {
                            likeIcon.classList.remove('bi-heart');
                            likeIcon.classList.add('bi-heart-fill');
                        } else {
                            likeIcon.classList.remove('bi-heart-fill');
                            likeIcon.classList.add('bi-heart');
                        }
                    } else {
                        throw new Error('Failed to like the post');
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    alert('An error occurred while liking the post.');
                });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('removeLikeForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            var form = event.target;
            var formData = new FormData(form);
            var csrfToken = form.querySelector("input[name='_csrf']").value;

            fetch(form.action, {
                method: 'DELETE',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRF-TOKEN': csrfToken // Add CSRF token to the headers
                }
            })
                .then(response => {
                    if (response.ok) {
                        var likeIcon = document.getElementById('removeLikeIcon');
                        if (likeIcon.classList.contains('bi-heart-fill')) {
                            likeIcon.classList.remove('bi-heart-fill');
                            likeIcon.classList.add('bi-heart');
                        } else {
                            likeIcon.classList.remove('bi-heart');
                            likeIcon.classList.add('bi-heart-fill');
                        }
                    } else {
                        throw new Error('Failed to unlike the post');
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    alert('An error occurred while unliking the post.');
                });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Находим кнопку, которая открывает модальное окно и имеет класс create-comment
        var modalButton = document.querySelector('.create-comment');
        // Находим поле replyToCommentId
        var replyToCommentIdInput = document.getElementById('replyToCommentId');

        // Добавляем обработчик события при клике на кнопку, которая открывает модальное окно
        modalButton.addEventListener('click', function() {
            // Очищаем значение поля replyToCommentId
            replyToCommentIdInput.value = '';
        });
    });

    // JavaScript для заполнения скрытого поля при ответе на комментарий
    document.querySelectorAll('.btn-reply').forEach(button => {
        button.addEventListener('click', function() {
            const commentId = this.getAttribute('data-comment-id');
            document.getElementById('replyToCommentId').value = commentId;
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Обработчик события для всех ссылок, к которым вы хотите добавить подсветку комментария
        document.querySelectorAll('a.comment-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Предотвращаем стандартное поведение перехода по ссылке

                // Удаляем подсветку со всех комментариев
                document.querySelectorAll('.highlighted-comment').forEach(comment => {
                    comment.classList.remove('highlighted-comment');
                });

                // Получаем идентификатор комментария из атрибута href ссылки
                const commentId = this.getAttribute('href').substring(1); // Убираем решетку (#) из начала строки

                // Находим комментарий с соответствующим идентификатором и добавляем ему класс для подсветки
                const comment = document.getElementById(commentId);
                if (comment) {
                    comment.classList.add('highlighted-comment');
                }

                // Переходим по ссылке
                window.location.href = this.href;
            });
        });
    });
</script>
<script src="/js/CreateCommentRequest.js"></script>
<script src="/js/DeleteCommentRequest.js"></script>
<script src="/js/patchCommentRequest.js"></script>
<script src="/js/logoutRequest.js"></script>
</body>

</html>