<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <style>
    .comment-self {
      display: flex;
      align-items: center;
      width: 100%;
    }
    
    .comment-self.left {
      justify-content: flex-start;
    }
    
    .comment-self.right {
      justify-content: flex-end;
    }
    
    .bubble .wrapper {
      display: flex;
      flex-direction: row;
      margin: 40px 14px;
    }
    
    .medias {
      width: 80%;
      margin: auto;
    }
    
    .children {
      padding: 0px;
    }
    
    .children .bubble-secondary .wrapper {
      flex-direction: row-reverse;
    }
    
    .children .bubble-secondary .wrapper .messenger-bulle {
      background: #f1f0f0;
      color: black;
    }
    
    .messenger-bulle {
      background: #1976d2;
      border-radius: 10px;
      padding: 6px 12px;
      color: white;
      font-size: .8em;
      display: inline-block;
      margin: 0px 5px;
      max-width: 60%;
      position: relative;
    }
    
    .messenger-bulle .meta {
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      color: grey;
      text-align: center;
      bottom: -25px;
      font-weight: 600;
      font-size: .8em;
    }

    .carousel-item img {
            width: 100%;
            height: auto; /* Allow the height to adjust automatically */
            max-height: 400px; /* Set a maximum height */
            object-fit: contain; /* Scale the image to fit the container without cropping */
    }

    .avatar {
        width: 50px; /* задайте одинаковое значение для width и height */
        height: 50px;
        border-radius: 50%;
        object-fit: cover; /* изображение сохраняет свои пропорции и покрывает весь контейнер */
    }

    .comments-wrapper {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0;
    }

    .comment {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .comment .avatar {
        margin-right: 10px;
    }

    .comment .comment-self {
        background-color: #e9ecef;
        border-radius: 10px;
        padding: 10px;
    }

    .comment .children {
        margin-left: 40px;
    }

  </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/api/resume_v1/user" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <img src="/images/logo.ico" class="img-fluid" alt="Логотип" style="max-width: 40px;">
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi-house fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class="bi-speedometer2 fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi-table fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                            <i class="bi-heart fs-4"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <i class="bi-people fs-4"></i>
                        </a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/api/resume_v1/user/image/{name}(name=${userName})}" class="img-fluid avatar" alt="Аватарка">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="/api/resume_v1/resumeForm">Выложить объявление</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" th:href="@{/api/resume_v1/profile/{name}(name=${userName})}">Профиль</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm p-3 min-vh-100" style="background-size: cover; background-position: center; background-repeat: repeat;">
            <div class="container mt-5">
                <div class="row">
                    <!-- Carousel Section -->
                    <div class="col-md-6">
                        <div id="carouselExampleControls" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${cardInfo.id}, imageIndex=0)}" class="d-block w-100 card-img-top rounded-top" alt="Первичное фото карусели" loading="eager">
                                </div>
                                <div th:each="image, imageIndex : ${cardInfo.images}" class="carousel-item" th:unless="${imageIndex.index == 0}">
                                    <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${cardInfo.id}, imageIndex=${imageIndex.index})}" class="d-block w-100 card-img-top rounded-top" alt="Вторичное фото карусели" loading="eager">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <!-- Article Section -->
                    <div class="col-md-6">
                        <h2 th:text="${cardInfo.title}">Article Title</h2>
                        <p th:text="${cardInfo.description}">
                            GeeksForGeeks is a Computer Science portal for geeks. It contains well written, well thought articles. This platform has been designed for every geek wishing to expand their knowledge, share their knowledge and is ready to grab their dream job. We have millions of articles, live as well as online courses, thousands of tutorials and much more just for the geek inside you.
                        </p>
                        <div class="d-flex justify-content-start align-items-center">
                            <button type="button" class="btn btn-white text-danger mb-2" id="likeButton">
                                <i class="bi bi-heart" id="likeIcon"></i>
                            </button>
                            <button type="button" class="btn btn-white text-primary ms-2" data-bs-toggle="modal" data-bs-target="#PostCommentModal">
                                <i class="bi bi-chat-right-text-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comments-wrapper">
                <div id="comments" class="mt-5">
                    <ul class="medias py-md-5 my-md-5 px-sm-0">
                        <li id="comment-12" class="comment byuser comment-author-aymene bypostauthor even thread-even depth-1 has-children bubble bubble-primary list-unstyled">
                            <div th:if="${ListOfComments!=null}" th:each="comment : ${ListOfComments}" class="wrapper">
                                <div class="avatar">
                                    <a data-toggle="tooltip" data-placement="left" data-html="true" title="" th:href="@{/api/resume_v1/profile/{name}(name=${comment.user.name})}" class="media-object float-left" data-original-title="aymene">
                                        <img alt="" th:src="@{/api/resume_v1/user/image/{name}(name=${comment.user.name})}" class="avatar avatar-40 photo comment_avatar rounded-circle" height="40" width="40">
                                    </a>
                                </div>
                                <div id="div-comment-12" class="comment-self left">
                                    <p th:text="${comment.text}" class="messenger-bulle hoverable">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        <span th:text="${comment.createTime}" class="meta">2 April 2017, 14 h 06 min</span>
                                    </p>
                                    <button th:if="${comment.user.name.equals(userName)}" type="button" class="btn btn-white" data-bs-toggle="modal" th:data-bs-target="${'#successModal'+comment.id}"><i class="bi bi-trash-fill"></i></button>
                                    <button th:if="${comment.user.name.equals(userName)}" type="button" class="btn btn-white" data-bs-toggle="modal" th:data-bs-target="${'#editModal'+comment.id}"><i class="bi bi-pencil-square"></i></button>
                                </div>
                                <!-- Модальное окно переспрашивания перед удалением -->
                                <div class="modal fade" th:id="${'successModal'+comment.id}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить этот комментарий?</h5>
                                            </div>
                                            <form th:id="${'deleteCommentForm'+comment.id}" action="/api/resume_v1/delete-comment">
                                                <input type="hidden" name="commentId" th:value="${comment.id}">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                                    <button type="submit" class="btn btn-danger deleteCommentButton">Да</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Модальное окно редактирования комментария -->
                                <div class="modal fade" th:id="${'editModal'+comment.id}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered text-center d-flex justify-content-center">
                                        <div class="modal-content w-75">
                                            <div class="modal-body p-4 position-relative">
                                                <form th:id="${'editCommentForm'+comment.id}" id="editCommentForm${comment.id}">
                                                    <div>
                                                        <input type="hidden" th:value="${comment.id}" name="commentId">
                                                        <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" id="csrfToken${comment.id}">
                                                        <!-- Comment input -->
                                                        <div class="form-outline mb-4">
                                                            <textarea th:text="${comment.text}" name="text" class="form-control" rows="3" placeholder="Ваш комментарий"></textarea>
                                                        </div>
                                                        <!-- Submit button -->
                                                        <button type="submit" class="btn btn-primary editCommentButton">Изменить</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- #comments -->
            </div>
        </div>
    </div>
</div>

    <!-- Модальное окно создания комментария -->
<div class="modal fade" id="PostCommentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-center d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-body p-4 position-relative">
                <img th:src="@{/api/resume_v1/user/image/{name}(name=${userName})}" alt="avatar" class="rounded-circle position-absolute top-0 start-50 translate-middle" style="width: 100px; height: 100px;" />
                <form id="createCommentForm">
                    <div>
                        <input th:if="${errorMessage}" th:value="${errorMessage}" type="hidden">
                        <h5 th:text="${userName}" class="pt-5 my-3">Maria Doe</h5>
                        <input type="hidden" th:value="${cardInfo.id}" name="cardId">
                        <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
                        <!-- Comment input -->
                        <div class="form-outline mb-4">
                            <textarea name="text" class="form-control" rows="3" placeholder="Ваш комментарий"></textarea>
                        </div>
                        <!-- Submit button -->
                        <button type="button" id="submitCommentButton" class="btn btn-primary">Опубликовать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
    document.getElementById('likeButton').addEventListener('click', function() {
      var likeIcon = document.getElementById('likeIcon');
      if (likeIcon.classList.contains('bi-heart')) {
        likeIcon.classList.remove('bi-heart');
        likeIcon.classList.add('bi-heart-fill');
      } else {
        likeIcon.classList.remove('bi-heart-fill');
        likeIcon.classList.add('bi-heart');
      }
    });
  </script>
<script src="/js/CreateCommentRequest.js"></script>
<script src="/js/DeleteCommentRequest.js"></script>
<script src="/js/patchCommentRequest.js"></script>
</body>

</html>