<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/aboutCard.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <title>Ошибка</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{/fragments/fragments :: sideMenu}"></div>
        <input type="hidden" id="csrfTokenForLogout" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="col-sm p-3 min-vh-100" style="background-size: cover; background-position: center; background-repeat: repeat;">
            Извините, ничего не найдено
        </div>
    </div>
</div>



<div th:replace="~{/fragments/fragments :: keyChangeModalWindow}"></div>


<script th:if="${MyInfo.role.equals('ROLE_ADMIN')}" src="/js/requests/copyKeyAndChange.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/requests/logoutRequest.js"></script>
</body>

</html>