<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MainPage</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/AllResumesPage.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div th:replace="~{/fragments/fragments :: sideMenu}"></div>
        </div>
        <input type="hidden" id="csrfTokenForLogout" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="col-sm p-3 min-vh-100" style="background-image: url('/images/фон сайта.png'); background-size: cover; background-position: center; background-repeat: repeat;">
            <header class="justify-content-center align-items-center mb-4">
                <form id="findResumeByFilterForm" action="/api/resume_v1/user" method="get" class="input-group" style="width: 100%;">
                    <input type="text" name="filter" class="form-control" placeholder="Введите название"
                           th:value="${filter != null ? filter : ''}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                            <svg class="bi text-white" width="25" height="24" fill="currentColor">
                                <use xlink:href="/images/icons/bootstrap-icons.svg#search"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </header>
            <div class="container">
                <div class="row row-cols-3 g-4">
                    <div th:if="${ListOfResume.size()>0 && !ListOfResume.equals(null)}" th:each="resume : ${ListOfResume}" class="col">
                        <a th:href="@{/api/resume_v1/user/about/{cardId}(cardId=${resume.id})}" class="text-decoration-none">
                            <div class="card h-100 bg-white">
                                <div th:if="${resume.images.size()>0}" th:id="'carouselExample' + ${resume.id}" class="carousel slide">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${resume.id}, imageIndex=0)}" class="d-block w-100 card-img-top rounded-top" alt="Первичное фото карусели" loading="eager">
                                        </div>
                                        <div th:each="image, imageIndex : ${resume.images}" class="carousel-item" th:unless="${imageIndex.index == 0}">
                                            <img th:src="@{/api/resume_v1/images/{resumeId}/{imageIndex}(resumeId=${resume.id}, imageIndex=${imageIndex.index})}" class="d-block w-100 card-img-top rounded-top" alt="Вторичное фото карусели" loading="eager">
                                        </div>
                                    </div>
                                    <button th:if="${resume.images.size()>1}" class="carousel-control-prev" type="button" th:data-bs-target="'#carouselExample' + ${resume.id}" data-bs-slide="prev">
                                        <svg class="bi text-black" width="25" height="24" fill="currentColor" aria-hidden="true">
                                            <use xlink:href="/images/icons/bootstrap-icons.svg#caret-left-fill"/>
                                        </svg>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button th:if="${resume.images.size()>1}" class="carousel-control-next" type="button" th:data-bs-target="'#carouselExample' + ${resume.id}" data-bs-slide="next">
                                        <svg class="bi text-black" width="25" height="24" fill="currentColor" aria-hidden="true">
                                            <use xlink:href="/images/icons/bootstrap-icons.svg#caret-right-fill"/>
                                        </svg>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                                <div class="card-body">
                                    <h5 th:text="${resume.title}" class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Card title</h5>
                                    <!-- Обрезать описание до определенного количества символов -->
                                    <p th:text="${resume.description}" class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Thymeleaf is a modern server-side Java template engine for both web and standalone environments.</p>
                                </div>

                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <div class="col text-start">
                                        <small th:text="${resume.createdAt}" class="text-muted text-truncate">Last updated 3 mins ago</small>
                                    </div>
                                    <div class="col text-center">
                                        <small th:if="${resume.resume_views!=null}" class="text-muted text-truncate" th:text="${'Просмотров: '+resume.resume_views}"></small>
                                    </div>
                                    <div class="col text-end">
                                        <a th:text="${resume.author.name}" th:href="@{/api/resume_v1/profile/{name}(name=${resume.author.name})}" class="link-info text-decoration-none text-truncate">Author Profile</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <nav class="pagination-nav mt-3">
                    <ul class="pagination justify-content-center">
                        <li th:each="iterator:${#numbers.sequence(1,PaginationQuantity)}" th:if="${iterator != 0}" th:class="${iterator == CurrentPageNumber} ? 'page-item active' : 'page-item'">
                            <a class="page-link" th:href="@{/api/resume_v1/user(offset=${iterator})}" th:text="${iterator}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

<!-- Модальное окно ключа регистрации новых администраторов  -->
<div th:replace="~{/fragments/fragments :: keyChangeModalWindow}"></div>


<script th:if="${MyInfo.role.equals('ROLE_ADMIN')}" src="/js/requests/copyKeyAndChange.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/requests/logoutRequest.js"></script>
</body>
</html>
