<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/profile.css">
    <title th:text="${UserInfo.name}"></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a th:if="${MyInfo.role.equals('ROLE_USER')}" href="/api/resume_v1/user" class="d-block p-3 link-dark text-decoration-none icon-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <img src="/images/logo.ico" class="img-fluid" alt="Логотип" style="max-width: 40px;">
                </a>
                <a th:if="${MyInfo.role.equals('ROLE_ADMIN')}" href="/api/resume_v1/admin" class="d-block p-3 link-dark text-decoration-none icon-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <img src="/images/logo.ico" class="img-fluid" alt="Логотип" style="max-width: 40px;">
                </a>
                <a href="/api/resume_v1/resumeForm" class="d-block p-3 link-dark text-decoration-none icon-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <img src="/images/ResumeAddIcon.png" class="img-fluid" alt="Добавить объявление" style="max-width: 40px;">
                </a>
                <a th:href="@{/api/resume_v1/profile/{name}(name=${MyUserName})}" class="d-block p-3 link-dark text-decoration-none icon-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <img th:src="@{/api/resume_v1/user/image/{name}(name=${MyUserName})}" class="img-fluid avatar" alt="Аватарка">
                </a>
                <button class="d-block p-3 btn btn-white icon-link" id="logoutButton" title="Выйти из аккаунта" data-bs-toggle="tooltip" data-bs-placement="right" style="background: transparent; border: none;">
                    <img src="/images/logoutIcon.png" class="img-fluid" alt="Выйти из аккаунта" style="max-width: 40px;">
                </button>
            </div>
        </div>
        <!-- CSRF Token -->
        <input type="hidden" id="csrfTokenForLogout" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="col-sm p-3 min-vh-100" style="background-image: url('/images/фон сайта.png'); background-size: cover; background-position: center; background-repeat: repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body pb-0">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <div class="text-center border-end">
                                            <img th:src="@{/api/resume_v1/user/image/{name}(name=${UserName})}" class="img-fluid avatar-xxl rounded-circle" alt="">
                                            <h4 th:text="${UserInfo.name}" class="text-primary font-size-20 mt-3 mb-2">Jansh Wells</h4>
                                            <h5 th:if="${UserInfo.isEnable()}" th:text="${UserInfo.roleInCommand}" class="text-muted font-size-13 mb-2">Web Designer</h5>
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-md-9">
                                        <div class="ms-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h4 class="card-title mb-2">О себе</h4>
                                                    <div th:if="${UserInfo.isEnable()}" th:text="${'Подписчиков: ' + UserInfo.subscribers.size()}"></div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <!-- Кнопка для модального окна просмотра подписок -->
                                                    <button th:if="${UserName.equals(MyUserName)}" type="button" class="btn btn-white btn-square me-3" data-bs-toggle="modal" data-bs-target="#ViewSubscribeModal">
                                                        <svg class="bi" width="20" height="20">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#person-heart"/>
                                                        </svg>
                                                    </button>

                                                    <!-- Кнопки для показа модальных окон -->
                                                    <button th:if="${!UserName.equals(MyUserName) && UserInfo.isEnable() && !UserInfo.role.equals('ROLE_ADMIN') && MyInfo.role.equals('ROLE_ADMIN')}" type="button" class="btn btn-white btn-square" data-bs-toggle="modal" data-bs-target="#upgradeUserModal">
                                                        <svg class="bi text-success" width="20" height="20" fill="currentColor">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#chevron-double-up"/>
                                                        </svg>
                                                    </button>
                                                    <button th:if="${!UserName.equals(MyUserName) && UserInfo.isEnable() && UserInfo.role.equals('ROLE_ADMIN') && MyInfo.role.equals('ROLE_ADMIN')}" type="button" class="btn btn-white btn-square" data-bs-toggle="modal" data-bs-target="#downgradeUserModal">
                                                        <svg class="bi text-danger" width="20" height="20" fill="currentColor">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#chevron-double-down"/>
                                                        </svg>
                                                    </button>

                                                    <!-- Модальная кнопка для вызова модального окна жалобы -->
                                                    <button th:if="${!UserName.equals(MyUserName) && UserInfo.isEnable() && !MyInfo.role.equals('ROLE_ADMIN')}" type="button" class="btn btn-white btn-square" data-bs-toggle="modal" data-bs-target="#complaintModal">
                                                        <svg class="bi text-warning" width="20" height="20" fill="currentColor">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
                                                        </svg>
                                                    </button>

                                                    <button th:if="${!UserName.equals(MyUserName) && UserInfo.isEnable() && !UserInfo.role.equals('ROLE_ADMIN')}" type="button" class="btn btn-white btn-square" data-bs-toggle="modal" data-bs-target="#successBanModal">
                                                        <svg class="bi" width="20" height="20">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#ban"/>
                                                        </svg>
                                                    </button>

                                                    <div th:if="${!UserName.equals(MyUserName) && !UserInfo.isEnable()}">
                                                        Заблокирован
                                                    </div>

                                                    <!-- Форма для подписки -->
                                                    <form th:if="${!UserName.equals(MyUserName) && !subscribeOnThisAuthor && UserInfo.isEnable()}" id="subscribeForm" action="/api/resume_v1/user/subscribe" method="post" class="me-3">
                                                        <button type="submit" class="btn btn-white btn-square">
                                                            <svg class="bi" width="20" height="20">
                                                                <use xlink:href="/images/icons/bootstrap-icons.svg#plus"/>
                                                            </svg>
                                                        </button>
                                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                        <input type="hidden" name="subscribeOn" th:value="${UserInfo.id}">
                                                    </form>

                                                    <!-- Форма для отписки -->
                                                    <form th:if="${!UserName.equals(MyUserName) && subscribeOnThisAuthor}" id="unsubscribeForm" action="/api/resume_v1/user/unsubscribe" method="post" class="me-3">
                                                        <button type="submit" class="btn btn-white btn-square">
                                                            <svg class="bi" width="20" height="20">
                                                                <use xlink:href="/images/icons/bootstrap-icons.svg#x-lg"/>
                                                            </svg>
                                                        </button>
                                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                        <input type="hidden" name="unsubscribeOn" th:value="${UserInfo.id}">
                                                    </form>

                                                    <!-- Переадресация на страницу редактирования -->
                                                    <a th:if="${UserName.equals(MyUserName)}" th:href="@{/api/resume_v1/profile/{name}/edit-private-information(name=${UserName})}" class="btn btn-white btn-square me-3">
                                                        <svg class="bi" width="20" height="20">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#pencil-square"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Описание пользователя -->
                                            <p th:if="${UserInfo.isEnable()}" th:text="${UserInfo.description}" class="mb-0 text-muted" style="width: 350px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                Hi I'm Jansh, has been the industry's standard dummy text To an English person alteration text.
                                            </p>

                                            <!-- Добавьте отступ после roleInCommand -->
                                            <div class="mt-2"></div>

                                            <div class="row my-4">
                                                <div class="col-md-12">
                                                    <div>
                                                        <p th:if="${UserInfo.isEnable()}" th:text="${UserInfo.email}" class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>Janshwells@probic.com
                                                        </p>
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row -->

                                            <ul th:if="${UserInfo.isEnable()}" class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link px-4 "  href="https://bootdey.com/snippets/view/profile-task-with-team-cards" target="__blank">
                                                        <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                                        <span class="d-none d-sm-block">Принимает участие</span>
                                                    </a>
                                                </li><!-- end li -->
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link px-4  active" data-bs-toggle="tab" href="#team-tab" role="tab" aria-selected="true">
                                                        <span class="d-block d-sm-none"><i class="mdi mdi-account-group-outline"></i></span>
                                                        <span class="d-none d-sm-block">Объявления</span>
                                                    </a>
                                                </li><!-- end li -->
                                            </ul><!-- end ul -->
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end card body -->
                        </div><!-- end card -->

                        <div class="card">
                            <div class="tab-content p-4">
                                <div class="tab-pane active show" id="team-tab" role="tabpanel">
                                    <h4 class="card-title mb-4">Проекты</h4>
                                    <p th:if="${errorMessage}" th:text="${errorMessage}" class="error text-danger text-center"></p>
                                    <div th:if="${UserInfo.resumes.isEmpty() && UserName.equals(MyUserName)}">
                                        Вы не выложили еще ни одного объявления
                                    </div>
                                    <div th:if="${UserInfo.resumes.isEmpty() && !UserName.equals(MyUserName) && UserInfo.isEnable()}">
                                        Этот пользователь пока не выложил объявления
                                    </div>
                                    <div th:if="${UserInfo.resumes}" class="row">
                                        <div th:if="${UserInfo.isEnable()}" th:each="resume,index : ${UserInfo.resumes}" class="col-xl-4 col-md-6" id="team-1">
                                            <div class="card position-relative">
                                                <div style="display: flex; justify-content: flex-end; align-items: center;">
                                                    <div style="display: flex; flex-direction: column; margin-right: auto;">
                                                        <div th:if="${UserName.equals(MyUserName)}" th:text="${'Просмотров: '+resume.resume_views}" style="margin-left: 10px;"></div>
                                                        <div th:if="${UserName.equals(MyUserName)}" th:text="${'Лайков: '+resume.likedResumes.size()}" style="margin-left: 10px;"></div>
                                                    </div>
                                                    <a th:if="${UserName.equals(MyUserName)}" th:href="@{/api/resume_v1/profile/{pathUserName}/edit/{cardId}(pathUserName=${UserInfo.name},cardId=${resume.id})}" type="button" class="btn btn-white edit-button" style="width: 25px; height: 25px; padding: 0;">
                                                        <svg class="bi" width="20" height="20">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#pencil-square"/>
                                                        </svg>
                                                    </a>
                                                    <a th:href="@{/api/resume_v1/user/about/{cardId}(cardId=${resume.id})}" th:data-card-id="${resume.id}" class="btn btn-white" style="width: 25px; height: 25px; padding: 0;">
                                                        <svg class="bi" width="20" height="20">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#eye-fill"/>
                                                        </svg>
                                                    </a>
                                                    <form th:id="${'deleteCard'+index.index}" th:action="@{/api/resume_v1/profile/{name}/delete(name=${UserName})}" style="margin-left: 10px;">
                                                        <button th:if="${UserName.equals(MyUserName)}" th:data-card-id="${resume.id}" type="submit" class="btn btn-white" style="width: 25px; height: 25px; padding: 0;">
                                                            <svg class="bi" width="20" height="20">
                                                                <use xlink:href="/images/icons/bootstrap-icons.svg#trash-fill"/>
                                                            </svg>
                                                        </button>
                                                        <input type="hidden" name="cardId" th:value="${resume.id}">
                                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                    </form>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <h5 th:text="${resume.title}" class="mb-1 font-size-17" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Marketing</h5>
                                                        <p th:text="${resume.description}" class="text-muted  font-size-13 mb-0" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">4 Projects</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end tab pane -->
                            </div>
                        </div><!-- end card -->

                        <div th:if="${UserName.equals(MyUserName)}" class="card">
                            <div class="tab-content p-4">
                                <div class="tab-pane active show" id="liked-projects-tab" role="tabpanel">
                                    <h4 class="card-title mb-4">Избранное</h4>
                                    <div th:if="${UserInfo.likedResumes.isEmpty()}">
                                        Вы еще ничего не лайкали
                                    </div>
                                    <div th:if="${UserInfo.likedResumes}" class="row">
                                        <div th:each="like_resume,index : ${UserInfo.likedResumes}" class="col-xl-4 col-md-6">
                                            <div class="card position-relative">
                                                <div style="display: flex; justify-content: flex-end; align-items: center;">
                                                    <a th:href="@{/api/resume_v1/user/about/{cardId}(cardId=${like_resume.resume.id})}" class="btn btn-white" style="width: 25px; height: 25px; padding: 0;">
                                                        <svg class="bi" width="20" height="20">
                                                            <use xlink:href="/images/icons/bootstrap-icons.svg#eye-fill"/>
                                                        </svg>
                                                    </a>
                                                    <form th:id="${'deleteLike'+index.index}" th:action="@{/api/resume_v1/remove-like}" style="margin-left: 10px;">
                                                        <button th:data-card-id="${like_resume.id}" type="submit" class="btn btn-white" style="width: 25px; height: 25px; padding: 0;">
                                                            <svg class="bi" width="20" height="20">
                                                                <use xlink:href="/images/icons/bootstrap-icons.svg#heartbreak"/>
                                                            </svg>
                                                        </button>
                                                        <input type="hidden" name="userName" th:value="${UserName}">
                                                        <input type="hidden" name="cardId" th:value="${like_resume.resume.id}">
                                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                    </form>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <h5 th:text="${like_resume.resume.title}" class="mb-1 font-size-17" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Marketing</h5>
                                                        <p th:text="${like_resume.resume.description}" class="text-muted  font-size-13 mb-0" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">4 Projects</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end tab pane -->
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="pb-2">
                                    <h4 class="card-title mb-3">Подробнее о себе</h4>
                                    <p th:if="${UserInfo.isEnable()}" th:text="${UserInfo.description}">Hi I'm Jansh, has been the industry's standard dummy text To an English
                                        person, it will seem likedResume
                                        simplified.</p>
                                    <!-- end ul -->
                                </div>
                                <hr>
                                <div class="pt-2">
                                    <h4 class="card-title mb-4">Навыки</h4>
                                    <div th:if="${UserInfo.isEnable()}" class="d-flex gap-2 flex-wrap">
                                        <span th:each="skill : ${ListOfSkills}" th:text="${skill.trim()}" class="badge badge-soft-secondary p-2">HTML</span>
                                    </div>
                                </div>
                            </div><!-- end cardbody -->
                        </div><!-- end card -->

                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <h4 class="card-title mb-4">Немного личной информации</h4>
                                    <div th:if="${UserInfo.isEnable()}" class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <tbody>
                                            <tr>
                                                <th scope="row">Имя и фамилия</th>
                                                <td th:text="${UserInfo.firstname+' '+UserInfo.lastname}">Jansh Wells</td>
                                            </tr><!-- end tr -->
                                            <tr>
                                                <th scope="row">Страна</th>
                                                <td th:text="${UserInfo.country}">California, United States</td>
                                            </tr><!-- end tr -->
                                            </tbody><!-- end tbody -->
                                        </table><!-- end table -->
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->

                    </div><!-- end col -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно повышение прав пользователя -->
<div th:if="${MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable() && !UserInfo.name.equals(MyInfo.name) && UserInfo.role.equals('ROLE_USER')}" class="modal fade" id="upgradeUserModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Повышайте только тех, кому доверяете!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="upgradeUserForm">
                <div class="modal-footer">
                    <input type="hidden" name="userName" id="userNameUp" th:value="${UserInfo.name}">
                    <button type="submit" id="submitUpgradeButton" class="btn btn-success">Повысить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно понижения прав пользователя -->
<div th:if="${MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable() && !UserInfo.name.equals(MyInfo.name) && UserInfo.role.equals('ROLE_ADMIN')}" class="modal fade" id="downgradeUserModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Понижайте только тех, кому доверяете!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="downgradeUserForm">
                <div class="modal-footer">
                    <input type="hidden" name="userName" th:value="${UserInfo.name}" id="userName">
                    <button type="submit" id="submitDowngradeButton" class="btn btn-danger">Понизить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно жалобы -->
<div th:if="${!MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable() && !UserInfo.name.equals(MyInfo.name)}" class="modal fade" id="complaintModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Жалуйтесь с умом!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="complaintForm" action="/api/resume_v1/create-profile-complaint" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="problemDescription" class="form-label">Опишите причину жалобы</label>
                        <textarea class="form-control" id="problemDescription" name="problemDescription" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Можете приложить фотографии</label>
                        <input class="form-control" type="file" id="images" name="images" multiple>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="author_name" th:value="${MyUserName}">
                <input type="hidden" name="inspect_name" th:value="${UserName}">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Отправить жалобу</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно просмотра подписок-->
<div th:if="${UserInfo.name.equals(MyInfo.name)}" class="modal fade" id="ViewSubscribeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ваши подписки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div th:if="${UserInfo.subscriptions.isEmpty()}" class="modal-body">
                Вы ни на кого не подписаны
            </div>
            <div th:if="${!UserInfo.subscriptions.isEmpty()}" th:each="user : ${UserInfo.subscriptions}" class="modal-body">
                <div class="d-flex align-items-center">
                    <a th:href="@{/api/resume_v1/profile/{name}(name=${user.name})}" class="d-flex align-items-center text-decoration-none">
                        <img th:src="@{/api/resume_v1/user/image/{name}(name=${user.name})}"
                             class="rounded-circle"
                             style="width: 40px; height: 40px; object-fit: cover;"
                             alt="Avatar" />
                        <div th:text="${user.name}" class="ms-2"></div>
                        <div class="lh-1 text-muted ms-2" th:text="${user.roleInCommand}"></div>
                    </a>
                    <div class="ms-auto">
                        <form th:id="${'unsubscribeForm_'+user.id}" action="/api/resume_v1/user/unsubscribe">
                            <button class="btn btn-danger unsubscribe-button">Отписаться</button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <input type="hidden" name="unsubscribeOn" th:value="${user.id}">
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно бана -->
<div th:if="${MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable() && !UserInfo.name.equals(MyInfo.name)}" class="modal fade" id="successBanModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Дать бан</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="successBanForm" class="success-ban-form" action="/api/resume_v1/block-user" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="banDescription" class="form-label">Напишите причину блокировки</label>
                        <textarea class="form-control" id="banDescription" name="banDescription" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="unlockAt" class="form-label">Укажите дату разблокировки</label>
                        <input type="datetime-local" class="form-control" id="unlockAt" name="unlockAt" required>
                    </div>
                    <input type="hidden" id="userId" name="userId" th:value="${UserInfo.id}" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Заблокировать</button>
                </div>
            </form>
        </div>
    </div>
</div>

<input type="hidden" id="csrfToken" name="_csrf" th:value="${_csrf.token}">

</body>


<script th:if="${MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable() && !UserInfo.name.equals(MyInfo.name) && UserInfo.role.equals('ROLE_USER')}" src="/js/requests/upgradeUserRequest.js"></script>
<script th:if="${MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable() && !UserInfo.name.equals(MyInfo.name) && UserInfo.role.equals('ROLE_ADMIN')}" src="/js/requests/DowngradeUserPermissions.js"></script>
<script th:if="${MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable() && !UserInfo.name.equals(MyInfo.name)}" src="/js/requests/BanUserRequest.js"></script>
<script th:if="${UserInfo.name.equals(MyInfo.name) && UserInfo.isEnable()}" src="/js/requests/UnsubscribeProfileRequest.js"></script>
<script th:if="${!UserInfo.name.equals(MyInfo.name) && !MyInfo.role.equals('ROLE_ADMIN') && UserInfo.isEnable()}" src="/js/requests/complaintRequest.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
<script th:if="${!UserInfo.resumes.isEmpty() && UserInfo.name.equals(MyInfo.name) && UserInfo.isEnable()}" src="/js/requests/deleteCardRequest.js"></script>
<script th:if="${!UserInfo.likedResumes.isEmpty() && UserInfo.name.equals(MyInfo.name) && UserInfo.isEnable()}" src="/js/requests/deleteLikeRequest.js"></script>
<script src="/js/requests/logoutRequest.js"></script>
<script th:if="${!UserInfo.name.equals(MyInfo.name) && UserInfo.isEnable() && !subscribeOnThisAuthor}" src="/js/requests/SubscribeRequest.js"></script>
<script th:if="${!UserInfo.name.equals(MyInfo.name) && subscribeOnThisAuthor}" src="/js/requests/UnSubscribeForm.js"></script>
<script src="/js/bootstrap.js"></script>
</html>